Checks: |
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-convert-member-functions-to-static,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-avoid-endl,
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 40
