Checks: |
  readability-*,
  -readability-magic-numbers,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 40
